
email-validator
faiss-cpu
fastapi
httpx
numpy
pandas
passlib[bcrypt]
pydantic
pydantic-settings
psycopg
python-dotenv
python-jose[cryptography]
python-multipart
sentence-transformers
sqlmodel
uvicorn
